html {
  padding-top: 100px;
  padding-left: 100px;
  margin: 0px;
}

.row {
  div {
    height: 150px;
    width: 150px;
    border: 1px solid black;
  }
  div:hover {
    cursor: pointer;
  }
}

.square {
  padding: 10px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}